@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@tailwind base;

@layer base {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    color: var(--p-text-color);
    font-family: var(--font-family);
    font-optical-sizing: auto;
    letter-spacing: normal;
    font-weight: 300;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    @screen md {
      font-size: 18px;
      line-height: 28px;
    }
  }

  h1,
  .like-h1 {
    font-family: var(--font-family-header);
    font-size: 55px;
    line-height: 65px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 1000px;
    margin-top: 130px;
    @screen sm {
      width: 90%;
      font-size: 80px;
      line-height: 80px;
    }
    @screen md {
      width: 80%;
      font-size: 100px;
      line-height: 100px;
    }
    @screen lg {
      font-size: 120px;
      line-height: 120px;
    }
    @screen xl {
      font-size: 130px;
      line-height: 130px;
    }
  }

  h2,
  .like-h2 {
    font-family: var(--font-family-header);
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    @screen lg {
      font-size: 100px;
      line-height: 100px;
    }
  }

  h3,
  .like-h3 {
    font-family: var(--font-family-header);
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    @screen md {
      font-size: 30px;
      line-height: 30px;
    }
  }

  h4,
  .like-h4 {
    font-family: var(--font-family-header);
    font-size: 22px;
    line-height: 22px;
    font-weight: 400;
    @screen md {
      font-size: 25px;
      line-height: 25px;
    }
  }

  label,
  .small {
    font-size: 14px;
    @screen md {
      font-size: 14px;
    }
  }

  label {
    display: block;
  }

  h5,
  .like-h5 {
    font-weight: 500;
    text-transform: uppercase;
  }

  .visibility-brigade {
    span {
      font-size: 60px;
      text-transform: uppercase;
      font-weight: 700;
      background: var(--p-text-color);
      color: var(--p-primary-inverse-color);
      padding: 6px 10px;
      margin: 0 2px;
      height: 105px;
      line-height: 105px;
      &.spacer {
        background: transparent !important;
        padding: 0 6px;
        display: inline-block;
        height: 1px;
      }
    }
    &.contrast {
      span {
        background: var(--p-primary-inverse-color);
        color: var(--p-text-color);
      }
    }
    span:nth-child(3n) {
      padding: 8px 10px;
      margin-top: -4px;
    }
    span:nth-child(4n) {
      padding: 7px 10px;
      margin-top: 4px;
    }
  }
}
