@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@tailwind base;

@layer base {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    color: var(--p-text-color);
    font-family: var(--font-family);
    font-optical-sizing: auto;
    letter-spacing: normal;
    font-weight: 300;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    @screen md {
      font-size: 18px;
      line-height: 24px;
    }
  }

  h1,
  .like-h1 {
    font-family: var(--font-family-header);
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 50px;
    @screen md {
      font-size: 60px;
      line-height: 60px;
    }
  }

  h2,
  .like-h2 {
    font-family: var(--font-family-header);
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    @screen md {
      font-size: 40px;
      line-height: 40px;
    }
  }

  h3,
  .like-h3 {
    font-family: var(--font-family-header);
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    @screen md {
      font-size: 40px;
      line-height: 40px;
    }
  }

  h4,
  .like-h4 {
    font-family: var(--font-family-header);
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    @screen md {
      font-size: 32px;
      line-height: 32px;
    }
  }

  label,
  .small {
    font-size: 14px;
    @screen md {
      font-size: 14px;
    }
  }

  label {
    display: block;
  }

  h5,
  .like-h5 {
    font-weight: 500;
    text-transform: uppercase;
  }

  .visibility-brigade {
    span {
      text-transform: uppercase;
      font-weight: 700;
      background: var(--p-text-color);
      color: var(--p-primary-inverse-color);
      padding: 6px 10px;
      margin: 0 2px;
      height: 105px;
      line-height: 105px;
      &.spacer {
        background: transparent;
        padding: 0 6px;
        display: inline-block;
      }
    }
    span:nth-child(3n) {
      padding: 8px 10px;
      margin-top: -4px;
    }
    span:nth-child(4n) {
      padding: 7px 10px;
      margin-top: 4px;
    }
  }
}
