@use 'cssvars';
@use 'typography';

* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--font-family);
    transition: var(--transition);
    min-height: 100vh;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-variant-numeric: lining-nums;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--p-content-background) !important;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--p-text-color);
    text-decoration: none;
    border-bottom: solid 2px var(--p-text-color);
    -webkit-touch-callout: none; /* disable the iOS long press action */
    -webkit-user-select: none; /* disable text selection */
    transition: var(--transition);
    opacity: 1;
    &:hover {
        text-decoration: none;
        border-bottom: solid 2px var(--p-text-color);
        opacity: var(--opacity-on-hover);
    }
    &.plain {
        text-decoration: none !important;
        border-bottom: none !important;
    }
}

.container {
    width: 100%;
    max-width: var(--max-container-width);
    margin: auto;
}

.background-color {
    background-color: var(--p-content-background);
}

.text-color {
    color: var(--p-text-color);
}
.inverse-text-color {
    color: var(--p-primary-inverse-color);
}

.contrast,
.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p {
    background: var(--p-text-color);
    color: var(--p-primary-inverse-color);
}
.contrast a,
.inverse a {
    color: var(--p-primary-inverse-color);
    border-bottom: solid 1px var(--p-primary-inverse-color);
}

.highlight {
    background-color: var(--p-highlight-background);
}

.cursor-pointer,
.clickable {
    cursor: pointer;
    opacity: 1;
    transition: var(--transition);
    &:hover {
        opacity: var(--opacity-on-hover);
    }
}

// accessibility
// hide outline when using a mouse but not when using a keyboard
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}
[data-js-focus-visible] .p-button:focus:not([data-focus-visible-added]) {
    outline: none;
}
[data-js-focus-visible] .button:focus:not([data-focus-visible-added]) {
    outline: none;
}
.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

// primevue overrides
.p-button {
    padding: 0.5rem 2rem !important;
}
.p-button-label {
    text-transform: uppercase !important;
    font-weight: 600 !important;
    font-size: 1.25rem !important;
    color: white !important;
}

.p-button.white {
    background-color: white !important;
    border-color: white !important;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    transition: var(--transition);
    opacity: 1;
    &:hover {
        opacity: var(--opacity-on-hover);
    }
    .p-button-label {
        color: black !important;
    }
}
